*
	outline: none !important
a
	color: #353535
	&:hover,
	&:focus,
	&:active
		text-decoration: none
		color: #353535
.container-fluid,
.container,
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12
	padding-left: 0
	padding-right: 0
.container
	max-width: 1200px
	padding: 0 15px
	position: relative
.row
	margin-left: 0
	margin-right: 0
html
	font-size: 16px !important
	&.fancybox-active
		overflow: hidden
body
	max-width: 1920px
	margin: 0 auto
	font-family: 'Bitter', serif
	font-weight: 400
	font-size: 18px
	line-height: 1.4
	color: #353535
	overflow-x: hidden
	overflow-y: auto
	&:not(.home)
		.site-content
			margin-top: 152px
	p
		margin-bottom: 0
	&::-webkit-scrollbar
		width: 6px
	&::-webkit-scrollbar-track
		background: #F3F3F3
		border: none
	&::-webkit-scrollbar-thumb
		background: #0071CE
		border: none
input
	&::-webkit-input-placeholder,
	&::-moz-placeholder,
	&:-moz-placeholder,
	&:-ms-input-placeholder
		color: #1B1918
		font-size: 19px
		line-height: 1.3
		text-indent: 0px
		-webkit-transition: text-indent .5s ease
		-o-transition: text-indent .5s ease
		-moz-transition: text-indent .5s ease
		transition: text-indent .5s ease
	&:focus::-webkit-input-placeholder,
	&:focus::-moz-placeholder,
	&:focus:-moz-placeholder,
	&:focus:-ms-input-placeholder
		text-indent: -700px
		-webkit-transition: text-indent .5s ease
		-o-transition: text-indent .5s ease
		-moz-transition: text-indent .5s ease
		transition: text-indent .5s ease
textarea
	&::-webkit-textarea-placeholder,
	&::-moz-placeholder,
	&:-moz-placeholder,
	&:-ms-textarea-placeholder
		color: #1B1918
.form-control
	margin-bottom: 15px
	padding: 14px 10px
	border: 2px solid #C3A78D
	border-radius: 15px
	box-shadow: none
	font-size: 19px
	line-height: 1.3
	color: #1B1918
	&:hover,
	&:active,
	&:focus
		box-shadow: none
		border-color: #C3A78D
.flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: -webkit-box
	display: -ms-flexbox
	display: -webkit-flex
	display: -moz-box
	display: flex
	-webkit-flex-wrap: wrap
	-ms-flex-wrap: wrap
	flex-wrap: wrap
	-webkit-box-pack: justify
	-ms-flex-pack: justify
	-webkit-justify-content: space-between
	-moz-box-pack: justify
	justify-content: space-between
.inline-flex
	display: -moz-inline-flex
	display: -ms-inline-flex
	display: -o-inline-flex
	display: -webkit-inline-box
	display: -ms-inline-flexbox
	display: -webkit-inline-flex
	display: -moz-inline-box
	display: inline-flex
.jcs
	justify-content: flex-start
.jcc
	justify-content: center
.aic
	align-items: center
.f20
	-webkit-box-flex: 1
	-webkit-flex: 1 1 20%
	-moz-box-flex: 1
	-ms-flex: 1 1 20%
	flex: 1 1 20%
	width: 20%
	max-width: 20%
.f25
	-webkit-box-flex: 1
	-ms-flex: 1 1 25%
	-webkit-flex: 1 1 25%
	-moz-box-flex: 1
	flex: 1 1 25%
	width: 25%
	max-width: 25%
.f33
	-webkit-box-flex: 1
	-webkit-flex: 1 1 33.33333%
	-moz-box-flex: 1
	-ms-flex: 1 1 33.33333%
	flex: 1 1 33.33333%
	width: 33.33333%
	max-width: 33.33333%
.f50
	flex: 1 1 50%
	width: 50%
	max-width: 50%
.f66
	-webkit-box-flex: 1
	-webkit-flex: 1 1 66.66666%
	-moz-box-flex: 1
	-ms-flex: 1 1 66.66666%
	flex: 1 1 66.66666%
	width: 66.66666%
	max-width: 66.66666%
.w100
	width: 100%
.v100
	height: 100vh
.title
	margin-bottom: 35px
	font-family: 'Open Sans', sans-serif
	font-weight: 800
	font-size: 40px
	line-height: 54px
	color: #004589
	@media screen and (max-width: 760px)
		font-size: 35px
		line-height: 1.2
img
	max-width: 100%
	height: auto
.tr5
	-webkit-transition: all .5s
	-o-transition: all .5s
	-moz-transition: all .5s
	transition: all .5s
ul
	margin: 0
	padding: 0
	li
		list-style: none
strong,
h2
	font-weight: bold
video
	width: 100%
.slick-prev,
.slick-next,
	position: absolute
	top: 50%
	z-index: 9
	width: 34px
	height: 34px
	padding: 0
	font-size: 0
	line-height: 0
	color: transparent
	border: none
	cursor: pointer
	-webkit-transform: translateY(-50%)
	-moz-transform: translateY(-50%)
	-ms-transform: translateY(-50%)
	-o-transform: translateY(-50%)
	transform: translateY(-50%)
.slick-prev
	left: 0
	background: url(/wp-content/uploads/2021/04/arrow-prev.svg) no-repeat 50% 50%
.slick-next
	right: 0
	background: url(/wp-content/uploads/2021/04/arrow-next.svg) no-repeat 50% 50%
.slick-dots
	position: absolute
	bottom: 50%
	z-index: 6
	display: flex
	flex-direction: column
	justify-content: center
	width: auto
	margin: 0
	padding: 0
	list-style: none
	text-align: center
	transform: translateY(-50%)
	li
		position: relative
		bottom: 0
		display: inline-block
		width: 12px
		height: 12px
		margin: 10px 0
		padding: 0
		cursor: pointer
		button
			position: relative
			display: block
			width: 12px
			max-width: 12px
			height: 12px
			padding: 0
			font-size: 0
			line-height: 0
			color: transparent
			background: #fff
			border: none
			border-radius: 50%
			cursor: pointer
			outline: none
			filter: blur(2px)
			-webkit-transition: all .5s
			-o-transition: all .5s
			-moz-transition: all .5s
			transition: all .5s
		&.slick-active
			button
				background: #0071CE
.fn
	font-weight: 400
.fl
	font-weight: 300
.fb
	font-weight: 700
.fm
	font-weight: 500
.fsb
	font-weight: 600
.feb
	font-weight: 800
.btn-hover
	display: flex
	display: -webkit-box
	display: -webkit-flex
	display: -ms-flexbox
	justify-content: center
	-webkit-justify-content: center
	align-items: center
	-webkit-box-align: center
	-webkit-align-items: center
	-ms-flex-align: center
	width: 168px
	height: 49px
	font-size: 18px
	line-height: 21px
	text-align: center
	color: #0071CE
	background: none
	border: 2px solid #0071CE
	cursor: pointer
	&:hover,
	&:active,
	&:focus
		color: #fff !important
		background: #0071CE !important
		border-color: #0071CE !important
		box-shadow: none !important
	&:disabled
		background: #0071CE
		border-color: #0071CE
.site-content
	min-height: 100vh
	margin-top: 149px
	@media screen and (max-width: 1000px)
		margin-top: 109px
.hidden
	display: none
label
	margin-bottom: 0
.p100
	padding: 100px 0
	@media screen and (max-width: 1200px)
		padding: 45px 0
.pt100
	padding-top: 100px
	@media screen and (max-width: 1200px)
		padding-top: 45px
.pb100
	padding-bottom: 100px
	@media screen and (max-width: 1200px)
		padding-bottom: 45px