* {
    outline: none !important;
}
a {
    color: #353535;
    transition: opacity 0.3s ease;
}
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #353535;
    opacity: 0.7;
}
.container-fluid,
.container,
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    padding-left: 0;
    padding-right: 0;
}
.container {
    max-width: 1230px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    position: relative;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
html {
    font-size: 16px !important;
}
html.fancybox-active {
    overflow: hidden;
}
body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #141414;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f7f9;
}
body:not(.home) .site-content {
    margin-top: 146px;
}
body p {
    margin-bottom: 0;
}
body::-webkit-scrollbar {
    width: 6px;
}
body::-webkit-scrollbar-track {
    background: #f3f3f3;
    border: none;
}
body::-webkit-scrollbar-thumb {
    background: #0071ce;
    border: none;
}
input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-moz-placeholder,
input:-ms-input-placeholder {
    color: #1b1918;
    font-size: 19px;
    line-height: 1.3;
    text-indent: 0px;
    -webkit-transition: text-indent 0.5s ease;
    -o-transition: text-indent 0.5s ease;
    -moz-transition: text-indent 0.5s ease;
    transition: text-indent 0.5s ease;
}
input:focus::-webkit-input-placeholder,
input:focus::-moz-placeholder,
input:focus:-moz-placeholder,
input:focus:-ms-input-placeholder {
    text-indent: -700px;
    -webkit-transition: text-indent 0.5s ease;
    -o-transition: text-indent 0.5s ease;
    -moz-transition: text-indent 0.5s ease;
    transition: text-indent 0.5s ease;
}
textarea::-webkit-textarea-placeholder,
textarea::-moz-placeholder,
textarea:-moz-placeholder,
textarea:-ms-textarea-placeholder {
    color: #1b1918;
}
.form-control {
    margin-bottom: 15px;
    padding: 14px 10px;
    border: 2px solid #c3a78d;
    /* border-radius: 15px; */
    box-shadow: none;
    font-size: 19px;
    line-height: 1.3;
    color: #1b1918;
}
.form-control:hover,
.form-control:active,
.form-control:focus {
    box-shadow: none;
    border-color: #c3a78d;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
  
.flex-dc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
  
.flex-jcc {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
  
.flex-jcs {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
  
.flex-als {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
  
.flex-alc {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
  
.flex-alf {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.w100 {
    width: 100%;
}

.jcs {
    justify-content: flex-start;
}
.jcc {
    justify-content: center;
}
.aic {
    align-items: center;
}
.f20 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 20%;
    -moz-box-flex: 1;
    -ms-flex: 1 1 20%;
    flex: 1 1 20%;
    width: 20%;
    max-width: 20%;
}
.f25 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25%;
    -webkit-flex: 1 1 25%;
    -moz-box-flex: 1;
    flex: 1 1 25%;
    width: 25%;
    max-width: 25%;
}
.f33 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 33.33333%;
    -moz-box-flex: 1;
    -ms-flex: 1 1 33.33333%;
    flex: 1 1 33.33333%;
    width: 33.33333%;
    max-width: 33.33333%;
}
.f50 {
    flex: 1 1 50%;
    width: 50%;
    max-width: 50%;
}
.f66 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 66.66666%;
    -moz-box-flex: 1;
    -ms-flex: 1 1 66.66666%;
    flex: 1 1 66.66666%;
    width: 66.66666%;
    max-width: 66.66666%;
}
.w100 {
    width: 100%;
}
.v100 {
    height: 100vh;
}
.title {
    margin-bottom: 35px;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    color: #004589;
}
@media screen and (max-width: 760px) {
    .title {
        font-size: 35px;
        line-height: 1.2;
    }
}
img {
    max-width: 100%;
    height: auto;
}
.tr5 {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
strong,
h2 {
    font-weight: bold;
}
video {
    width: 100%;
}
.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    z-index: 9;
    width: 34px;
    height: 34px;
    padding: 0;
    font-size: 0;
    line-height: 0;
    color: transparent;
    border: none;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.slick-prev {
    left: 0;
    background: url(/wp-content/uploads/2021/04/arrow-prev.svg) no-repeat 50% 50%;
}
.slick-next {
    right: 0;
    background: url(/wp-content/uploads/2021/04/arrow-next.svg) no-repeat 50% 50%;
}
.slick-dots {
    z-index: 6;
    display: flex;
    width: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
}
.slick-dots li:hover {
    border: 1px solid rgba(244, 216, 179, 0.5);
}
.slick-dots li button {
    position: relative;
    display: block;
    width: 6px;
    height: 6px;
    padding: 0;
    font-size: 0;
    line-height: 0;
    color: transparent;
    background: #3A2318;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.slick-dots li.slick-active {
    border: 1px solid #F4D8B3;
}
.fn {
    font-weight: 400;
}
.fl {
    font-weight: 300;
}
.fb {
    font-weight: 700;
}
.fm {
    font-weight: 500;
}
.fsb {
    font-weight: 600;
}
.feb {
    font-weight: 800;
}
.all-button-body {
    display: flex;
    align-items: center;
    width: auto;
    width: -moz-fit-content;
    width:-webkit-fit-content;
    width: fit-content;
    padding: 11px 27px;
    background-color: #00935C;
    border-radius: 43px;
    transition: background-color 0.3s ease;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    color: #FFFFFF;
    opacity: 1;
}

.all-button-body:hover {
    opacity: 1;
    color: #FFFFFF;
}

.all-button p {
    margin: 0 7px 0 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    color: #00935C;
}

.all-button svg {
    stroke: #00935C;
}

.all-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 140%;
    color: #2F2F2F;
}
.site-content {
    min-height: 100vh;
    margin-top: 120px;
}
@media screen and (max-width: 1000px) {
    .site-content {
        margin-top: 109px;
    }
}
.hidden {
    display: none;
}
label {
    margin-bottom: 0;
}
.p100 {
    padding: 100px 0;
}
@media screen and (max-width: 1200px) {
    .p100 {
        padding: 45px 0;
    }
}
.pt100 {
    padding-top: 100px;
}
@media screen and (max-width: 1200px) {
    .pt100 {
        padding-top: 45px;
    }
}
.pb100 {
    padding-bottom: 100px;
}
@media screen and (max-width: 1200px) {
    .pb100 {
        padding-bottom: 45px;
    }
}
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.eot");
    src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"),
        url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-SemiBold.eot");
    src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff"),
        url("../fonts/OpenSans-SemiBold.ttf") format("truetype"), url("../fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold") format("svg");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Extrabold.eot");
    src: url("../fonts/OpenSans-Extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Extrabold.woff2") format("woff2"), url("../fonts/OpenSans-Extrabold.woff") format("woff"),
        url("../fonts/OpenSans-Extrabold.ttf") format("truetype"), url("../fonts/OpenSans-Extrabold.svg#OpenSans-Extrabold") format("svg");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Bitter";
    src: url("../fonts/Bitter-Regular.eot");
    src: url("../fonts/Bitter-Regular.woff2") format("woff2"), url("../fonts/Bitter-Regular.woff") format("woff"), url("../fonts/Bitter-Regular.ttf") format("truetype"), url("../fonts/Bitter-Regular.svg#Bitter-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    padding: 28px 0 14px;
    background-color: #fff;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.07);
}
@media screen and (max-width: 1000px) {
    .header {
        padding: 10px 0;
    }
}
.header.header-active {
    padding: 10px 0;
    box-shadow: 0px 4px 10px rgba(53, 53, 53, 0.08);
}
@media screen and (max-width: 760px) {
    .header .logo {
        max-width: 150px;
    }
}

@media screen and (max-width: 1200px) {
    .header-search {
        margin: 0 15px 0 auto;
    }
}
.slider-item {
    display: flex !important;
    flex-wrap: nowrap;
}
.slider-item .f50 {
    padding: 85px 0 67px;
}
@media screen and (max-width: 1000px) {
    .slider-item .f50 {
        flex: 1 1 100%;
        width: 100%;
        max-width: 100%;
        min-height: 250px;
        padding: 45px 0;
    }
}
.slider-item .f50:nth-child(1) {
    background: linear-gradient(35.83deg, #1a75cf 4.15%, #e2f1ff 90.32%);
}
.slider-item_info {
    max-width: 610px;
    margin: 0 20px 0 auto;
    padding: 0 0 0 30px;
    color: #fff;
}
@media screen and (max-width: 1000px) {
    .slider-item_info {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }
}
.slider-item_info .title {
    margin-bottom: 20px;
    font-size: 46px;
    line-height: 63px;
    color: #fff;
}
@media screen and (max-width: 760px) {
    .slider-item_info .title {
        font-size: 35px;
        line-height: 1.2;
    }
}
.slider-arrow-prev,
.slider-arrow-next {
    width: 28px;
    height: 28px;
    cursor: pointer;
}
.slider-arrow-prev {
    margin: 0 19px 0 0;
}
.slider-arrow-next {
    margin: 0 0 0 19px;
}
@media screen and (max-width: 1200px) {
    .about-us .container {
        max-width: 100%;
    }
}
@media screen and (max-width: 1000px) {
    .about-us .f50 {
        flex: 1 1 100%;
        width: 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 1000px) {
    .about-us-desc {
        padding: 0 0 25px;
    }
}
@media screen and (max-width: 1000px) {
    .about-us-img {
        text-align: center;
    }
}
@media screen and (max-width: 760px) {
    .programms-items > .programms-item {
        flex: 1 1 100%;
        width: 100%;
        max-width: 100%;
        margin: 0 0 30px;
    }
}
@media screen and (max-width: 760px) {
    .programms-items-second {
        flex: 1 1 100%;
        width: 100%;
        max-width: 100%;
        padding-left: 0;
    }
}
@media screen and (max-width: 760px) {
    .news .title + a {
        flex: 1 1 100%;
        width: 100%;
        max-width: 100%;
        margin: 15px 0 0;
        padding-left: 0;
        line-height: 1.2;
        border-left: none;
    }
}
@media screen and (max-width: 1000px) {
    .news .f66,
    .news .f33 {
        flex: 1 1 100%;
        width: 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 1000px) {
    .news .f66 {
        padding-right: 0;
    }
}
@media screen and (max-width: 760px) {
    .news-items {
        margin: 0 auto;
    }
}
@media screen and (max-width: 760px) {
    .news-items.tag-preview {
        margin-bottom: -30px;
    }
}
@media screen and (max-width: 1000px) {
    .news-items.tag-smi {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
}
@media screen and (max-width: 760px) {
    .news-items.tag-smi {
        margin: 0 auto;
    }
}
@media screen and (max-width: 1000px) {
    .news-items.tag-smi .tags-link {
        margin-left: 15px;
    }
}
@media screen and (max-width: 1000px) {
    .news-items.tag-smi .news-item {
        flex: 1 1 50%;
        width: 50%;
        max-width: 50%;
        margin: 0 0 20px;
        padding: 0 15px 20px;
    }
}
@media screen and (max-width: 760px) {
    .news-items.tag-smi .news-item {
        flex: 1 1 100%;
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px;
        padding: 0 0 20px;
    }
}
@media screen and (max-width: 1200px) {
    .news-items.tag-smi .news-item:last-child {
        border-bottom: none;
    }
}
@media screen and (max-width: 760px) {
    .news-item {
        margin: 0 auto 30px;
    }
}
@media screen and (max-width: 1200px) {
    header.header-active .mobile-menu span {
        background: #FFCF7A;
    }
    .mobile-menu {
        position: relative;
        z-index: 2;
    }
    .mobile-menu .header-hamburger {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
        cursor: pointer;
    }
    .mobile-menu span {
        position: relative;
        display: block;
        width: 40px;
        height: 3px;
        margin: 4.5px auto;
        background: #FFCF7A;
        border-radius: 1px;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .mobile-menu.active span {
        background: #FFCF7A;
    }
    .mobile-menu.active span.line-1 {
        top: 3px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .mobile-menu.active span.line-2 {
        display: none;
    }
    .mobile-menu.active span.line-3 {
        top: -9px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .header-menu {
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 2;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        min-width: 260px !important;
        max-width: 350px !important;
        height: 100vh;
        margin-right: 0;
        background: #fff;
        overflow-y: auto;
        transition: all 0.3s ease;
    }
}
@media screen and (max-width: 1200px) and (max-width: 760px) {
    .header-menu {
        width: 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 1200px) {
    .header-menu.active {
        right: 0%;
    }
    .header-menu ul {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .header-menu li {
        margin-bottom: 15px;
    }
    .header-menu li:last-child {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 760px) {
    .f33,
    .f50 {
        flex: 1 1 100%;
        width: 100%;
        max-width: 100%;
    }
}
/*# sourceMappingURL=style.css.map */








    address {
    margin: 0;
    }



  /* header */
  
  .header {
    max-width: 100vw;
  }

  .header-top-row {
    margin: 0 0 17px;
  }
  
  .header-logo {
    width: 100%;
    max-width: 165px;
    margin: 0 35px 0 0;
  }
  
  .header-top-row__search {
    width: 100%;
    max-width: 283px;
    margin: 0 35px 0 0;
  }
  
  .header-top-row__form-search {
    position: relative;
    border: 1px solid #C5C5C5;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 50px;
    overflow: hidden;
  }
  
  .header-top-row__form-search button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 25px;
    height: 100%;
    padding: 0 0 0 12px;
    border: none;
    background-color: transparent;
  }
  
  .header-top-row__form-search button svg {
    width: 12px;
    height: 12px;
    fill: #9A9A9A;
    -webkit-transition: fill 0.3s ease;
    -o-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
  }
  
  .header-top-row__form-search input {
    width: 100%;
    height: 100%;
    padding: 7px 8px 7px 32px;
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    color: #9A9A9A;
  }
  
  .header-top-row__address {
    margin: 0 24px 0 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #2F2F2F;
  }
  
  .header-top-row__phone {
    margin: 0 15px 0 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #00935C;
  }
  
  .header-top-row__social {
    display: block;
    margin: 8px 44px 0 0;
    overflow: hidden;
  }
  
  .header-top-row__social-list {
    width: calc(100% + 8px);
    margin: 0;
    padding: 0;
  }
  
  .header-top-row__social-item {
    margin: 0 8px 8px 0;
  }
  
  .header-top-row__social-link {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
  }
  
  .header-top-row__social-link--header {
    width: 20px;
    height: 20px;
  }
  
  .header-top-row__social-item svg {
    fill: #00935C;
  }
  
  .header-top-row__citys-list {
    width: 100%;
    max-width: 169px;
    margin: 0 0 0 auto;
  }
  
  .header-top-row__citys-item {
    width: 100%;
    max-width: 50%;
  }
  
  .header-top-row__citys-link {
    width: 100%;
    padding: 0 0 6px;
    border-bottom: 1px solid #9A9A9A;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    color: #9A9A9A;
    opacity: 1;
    -webkit-transition: color 0.3s ease, border 0.3s ease;
    -o-transition: color 0.3s ease, border 0.3s ease;
    transition: color 0.3s ease, border 0.3s ease;
  }
  
  .header-top-row__citys-link:hover {
    border-bottom: 1px solid #00935C;
  }
  
  .header-top-row__citys-link:hover,
  .header-top-row__citys-link:hover p {
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
    opacity: 1;
    color: #00935C;
  }
  
  .header-top-row__citys-link svg {
    margin: 0 4px 0 0;
    fill: #9A9A9A;
    stroke: #9A9A9A;
    -webkit-transition: fill 0.3s ease, stroke 0.3s ease;
    -o-transition: fill 0.3s ease, stroke 0.3s ease;
    transition: fill 0.3s ease, stroke 0.3s ease;
  }
  
  .header-top-row__citys-link:hover svg {
    fill: #00935C;
    stroke: #00935C;
  }
  
  .header-top-row__citys-link--active {
    border-bottom: 1px solid #00935C;
    color: #00935C;
  }
  
  .header-top-row__citys-link--active svg {
    fill: #00935C;
    stroke: #00935C;
  }
  
  .header-bottom-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .header-bottom-row__menu {
    width: 100%;
    max-width: calc(100% - 226px);
    margin: 0 26px 0 0;
    padding: 14px 0 0;
    overflow: hidden;
  }
  
  .header-menu {
    width: calc(100% + 20px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .header-menu .menu-item {
    margin: 0 20px 14px 0;
  }
  
  .header-menu .menu-item a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    text-transform: uppercase;
    color: #2F2F2F;
  }
  
  .header-bottom-row__log-in {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    color: #FFFFFF;
  }
  
  .header-bottom-row__log-in--desctope-top {
    display: none;
  }
  
  .header-bottom-row__log-in svg {
    fill: #FFFFFF;
    margin: 0 4px 0 0;
  }
  
  .header-desctop-main__burger-content {
    display: none;
  }
  
  /* Стили всплывающего меню */


  /* бургер */
  .header-desctop-main__burger {
    position: relative;
    display: none;
    width: 100%;
    max-width: 42px;
    margin: 0 0 0 30px;
  }
  
  .header-desctop-main__burger-icon {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    min-height: 42px;
  }
  
  .header-desctop-main__burger-icon span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #00935c;
    border-radius: 1px;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
  }
  
  .menu-open span {
    background-color: transparent;
  }
  
  .header-desctop-main__burger-icon span::before,
  .header-desctop-main__burger-icon span::after {
    position: absolute;
    left: 50%;
    display: block;
    width: 30px;
    height: 3px;
    background-color: #00935c;
    content: '';
    -webkit-transform: translate(-50%, -1px);
    -ms-transform: translate(-50%, -1px);
    transform: translate(-50%, -1px);
    border-radius: 1px;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  
  .header-desctop-main__burger-icon span::before {
    top: 23.33%;
  }
  
  .header-desctop-main__burger-icon span::after {
    top: 76.66%;
  }
  
  .menu-open span::before {
    width: 31px;
    -webkit-transform: rotate(-45deg) translate(-59%, -3px);
    -ms-transform: rotate(-45deg) translate(-59%, -3px);
    transform: rotate(-45deg) translate(-59%, -3px);
  }
  
  .menu-open span::after {
    width: 31px;
    -webkit-transform: rotate(45deg) translate(-60%, 2px);
    -ms-transform: rotate(45deg) translate(-60%, 2px);
    transform: rotate(45deg) translate(-60%, 2px);
  }
  
  .header-desctop-main__burger-overflow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 100%;
    max-height: 90vh;
    overflow-x: auto;
  }
  
  .header-desctop-main__burger-content {
    position: absolute;
    top: 60px;
    right: 0;
    display: none;
    width: 330px;
    max-height: calc(100vh - 100px);
    overflow: auto;
    padding: 20px 20px 0;
    border-radius: 3px;
    background-color: #FFFFFF;
    z-index: 12;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .header-desctop-footer__menu--burger {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  
  .header-desctop-footer__menu--burger .header-desctop-footer__menu-item a {
    text-align: right;
    color: #000000;
  }
  
  .header-container__menu-list:first-of-type a {
    width: 100%;
  }
  
  .header-desctop-main__burger-content .header-container__menu-link {
    padding: 0;
  }
  
  .header-container__menu-list:first-of-type li {
    margin: 0 0 15px;
  }
  
  .header-container__menu-list:first-of-type li:last-of-type {
    margin: 0;
  }
  
  /* Стили всплывающего меню */


  /*  бургер */


  /*  header */


  /*  footer */
  .footer {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .footer-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 48px 0;
  }
  
  .logo-column {
    margin: 0 25px 0 0;
  }
  
  .footer-logo-link {
    max-width: 165px;
    margin: 0 0 25px;
  }
  
  .footer-social {
    display: block;
    margin: 0;
    overflow: hidden;
  }
  
  .footer-menu-block {
    max-width: 293px;
    margin: 0 25px 0 0;
  }
  
  .footer-block-title {
    margin: 0 0 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
  }
  
  .footer-menu--left {
    margin: 0 22px 0 0;
  }
  
  .menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 10px;
  }
  
  .menu-item a,
  .footer-contacts-link,
  .footer-contacts__link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    color: #FFFFFF;
  }
  
  .footer-contacts {
    max-width: 146px;
    margin: 0 45px 0 0;
  }
  
  .footer-contacts-link,
  .footer-contacts__link {
    margin: 0 0 10px;
  }
  
  .footer-policy-block {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    max-width: 170px;
  }
  
  .header-bottom-row__log-in--footer {
    margin: 0 0 auto;
  }
  
  .footer-bottom__link-policy {
    margin: 20px 0 8px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    color: #FFFFFF;
  }
  
  .developed-block p, .developed-block a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    color: #FFFFFF;
  }
  
  .developed-block a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  
  /* footer */


  /* Главная станица */


  /* блок банера */
  .main-banner {
    position: relative;
    padding: 96px 0 154px;
    overflow: hidden;
  }
  
  .main-banner__container {
    position: initial;
  }
  
  .main-banner__info {
    position: relative;
    max-width: calc(50% - 15px);
    margin: 0 15px 0 0;
    z-index: 3;
  }
  
  .main-banner__info .header-top-row__citys-list {
    margin: 0 0 78px;
    max-width: 217px;
  }
  
  .main-banner__info .header-top-row__citys-link {
    font-size: 16px;
  }
  
  .main-banner__info .header-top-row__citys-link svg {
    margin: 0 8px 0 0;
  }
  
  .main-banner__title {
    margin: 0 0 20px;
  }
  
  .main-banner__title p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 140%;
    color: #00935C;
  }
  
  .main-banner__text {
    margin: 0 0 30px;
  }
  
  .main-banner__text p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #2F2F2F;
  }
  
  .main-banner__link {
    margin: 0 32px 0 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
  }
  
  .main-banner__photos {
    max-width: calc(50% - 15px);
    margin: 0 0 0 15px;
  }
  
  .main-banner__photos-bg {
    position: absolute;
    top: -120px;
    right: 0;
    width: 100%;
    max-width: 592px;
    max-height: 627px;
    z-index: 1;
  }
  
  .main-banner__position-wrap {
    position: relative;
    z-index: 2;
  }
  
  .main-banner__photos-images {
    max-width: 418px;
    max-height: 418px;
    border-radius: 50%;
  }
  
  .main-banner__photos-bubble {
    position: absolute;
    bottom: -50px;
    left: -15px;
    min-width: 159px;
    min-height: 159px;
    border: 14px solid #F5F7F9;
    border-radius: 50%;
    background-color: #9A9A9A;
    z-index: 3;
  }
  
  .main-banner__photos-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12.8637px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
  }
  
  .main-banner__photos-ear {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 35.3751px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
  }
  
  /* блок банера */


  /* блок услуг */

  .main-services {
    margin: 0 0 100px;
  }
  
  .main-services__info {
    width: 100%;
    max-width: calc(444px - 81px);
    margin: 0 81px 0 0;
  }
  
  .main-services__title {
    margin: 0 0 20px;
  }
  
  .main-services__text {
    margin: 0 0 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #2F2F2F;
  }
  
  .main-services__link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 0 20px;
  }
  
  .main-services__content {
    display: block;
  }
  
  .main-services__list {
    width: calc(100% + 74px);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .main-services__item {
    width: 100%;
    max-width: calc(50% - 74px);
    margin: 0 74px 25px 0;
    padding: 42px 30px 26px;
    -webkit-transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease;
    transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease;
    -o-transition: background-color 0.3s ease, box-shadow 0.3s ease;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
    border-radius: 31px;
  }
  
  .main-services__item:hover {
    background-color: #FFFFFF;
  }
  
  .main-services__item:hover .main-services__item-link svg {
    stroke: #00935C;
  }
  
  .main-services__item:nth-of-type(1),
  .main-services__item:nth-of-type(2) {
    background-color: #FFFFFF;
    border-radius: 31px;
  }
  
  .main-services__item:nth-of-type(1):hover,
  .main-services__item:nth-of-type(2):hover {
    -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.09);
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.09);
  }
  
  .main-services__item-icon {
    max-width: 50px;
    max-height: 50px;
    margin: 0 0 12px;
  }
  
  .main-services__item-link p {
    margin: 0 auto 0 0;
    padding: 0 10px 0 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #2F2F2F;
  }
  
  .main-services__item-link {
    margin: 0 0 12px;
  }
  
  .main-services__item-link svg {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    max-width: 25px;
    stroke: transparent;
    -webkit-transition: stroke 0.3s ease;
    -o-transition: stroke 0.3s ease;
    transition: stroke 0.3s ease;
  }
  
  .main-services__item-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #2F2F2F;
  }
  
  /* блок услуг */


  /* блок рейтингов */

  .main-rating {
    margin: 0 0 100px;
  }
  
  .main-rating__title {
    margin: 0 0 40px;
  }
  
  .main-rating__content {
    display: block;
    overflow: hidden;
  }
  
  .main-rating__list {
    width: calc(100% + 24px);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .main-rating__item {
    max-width: 146px;
    margin: 0 24px 24px 24px;
  }
  
  .main-rating__item img {
    max-width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  
  .slick-current + .slick-active {
    opacity: 0.5;
  }
  
  /* блок рейтингов */


  /* блок команды */

  .main-employees {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .main-employees__container {
    padding: 100px 0 0;
  }
  
  .main-employees__title {
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    color: #00935C;
  }
  
  .main-employees__content-texts {
    position: relative;
    max-width: 415px;
    z-index: 2;
  }
  
  .main-employees__fio {
    margin: 0 0 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 140%;
    color: #FFFFFF;
  }
  
  .main-employees__info {
    margin: 0 0 25px;
  }
  
  .main-employees__position, .main-employees__office {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
  }
  
  .main-employees__fish {
    margin: 0 10px;
  }
  
  .main-employees__text {
    margin: 0 0 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
  }
  
  .pagination-slider-wrap__content {
    margin: 0 0 30px;
  }
  
  .sl-count,
  .sl-count span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
  }
  
  .main-employees__content-photos {
    width: 100%;
    max-width: 769px;
    /* margin: 0 0 0 -13px; */
  }
  
  .main-employees__list-photo {
    width: 100%;
  }
  
  .slick-current + .slick-active {
    opacity: 0.5;
  }
  
  .main-employees__photo-item {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  
  .main-employees__photo-item img {
    max-width: 346px;
    max-height: 566px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .slick-current .main-employees__photo-item {
    max-width: 370px;
    margin: 0 auto;
  }
  
  .slick-current .main-employees__photo-item img {
    max-width: 370px;
    max-height: 606px;
  }
  
  .main-employees__content-photos .slick-track {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important;
  }
  
  /* блок команды */


  /* блок новостей-аналитики */

  .main-news-analitics__container {
    padding: 100px 0 84px;
  }
  
  .main-news {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 0 0;
  }
  
  .main-news:first-of-type {
    max-width: 530px;
    padding: 0 30px 0 0;
  }
  
  .main-news-header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 32px;
  }
  
  .main-news__title {
    margin: 0 auto 0 0;
  }
  
  .main-news__image {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 100%;
    max-width: 128px;
    margin: 0 15px 0 0;
  }
  
  .main-news__item-date {
    margin: 0 0 7px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 140%;
    color: #00935C;
  }
  
  .main-news__link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #2F2F2F;
  }
  
  .main-news__item {
    margin: 0 0 16px;
  }
  
  /* блок новостей-аналитики */


  /* блок видео */

  .main-video {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .main-video__container {
    padding: 100px 0 70px;
  }
  
  .main-video__title {
    margin: 0 0 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    color: #00935C;
  }
  
  .main-video__header-title {
    margin: 0 auto 0 0;
    padding: 0 20px 0 0;
    color: #FFFFFF;
  }
  
  .main-video__header-link p {
    color: #FFF;
  }
  
  .main-video__header {
    margin: 0 0 32px;
  }
  
  .main-video__item {
    width: calc(33.33% - 30px);
    margin: 0 30px 30px 0;
  }
  
  .main-video__content {
    display: block;
  }
  
  .main-video__list {
    width: calc(100% + 30px);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .main-video__link {
    position: relative;
    width: 100%;
    padding: 14px 23px;
  }
  
  .main-video__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .main-video__image::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
    content: '';
  }
  
  .main-video__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .main-video__item-content {
    position: relative;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    min-height: 231px;
    z-index: 3;
  }
  
  .main-video__item-content > svg {
    max-width: 68px;
    max-height: 68px;
    margin: 0 auto 10px;
  }
  
  .main-video__item-title {
    margin: 0 0 9px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
  }
  
  .main-video__item-time-wrap svg {
    max-width: 15px;
    max-height: 15px;
    margin: 0 8px 0 0;
  }
  
  .main-video__item-time {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
  }
  
  /* блок видео */


  /* блок СМИ */

  .main-smi__container {
    padding: 100px 0 70px;
  }
  
  .main-smi__header {
    margin: 0 0 32px;
  }
  
  .main-smi__header-title {
    margin: 0 auto 0 0;
  }
  
  .main-smi__content {
    display: block;
  }
  
  .main-smi__list {
    width: calc(100% + 30px);
  }
  
  .main-smi__item {
    max-width: calc(25% - 30px);
    min-width: 200px;
    margin: 0 30px 30px 0;
  }
  
  .main-smi__image {
    width: 100%;
    margin: 0 0 16px;
  }
  
  .main-smi__item-date {
    margin: 0 0 8px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 140%;
    color: #00935C;
  }
  
  .main-smi__link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #2F2F2F;
  }
  
  /* блок СМИ */


  /* блок формы */

  .main-form {
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .main-form__container {
    padding: 100px 0 85px;
  }
  
  .main-form__title {
    margin: 0 0 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
  }
  
  .main-form__container > div {
    width: 100%;
    max-width: 970px;
  }
  
  .main-form__inputs-overflow {
    display: block;
    width: 100%;
    overflow: hidden;
  }
  
  .main-form__inputs-wrap {
    width: calc(100% + 30px);
    margin: 0 0 10px;
  }
  
  .main-form__list {
    width: calc(50% - 30px);
    max-width: 470px;
    margin: 0 30px 30px 0;
  }
  
  .main-form__list > span input,
  .main-form__textarea textarea {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #2F2F2F;
  }
  
  .main-form__list > span input {
    min-height: 44px;
    margin: 0 0 30px;
    padding: 12px 35px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    border: none;
  }
  
  .main-form__list .wpcf7-form-control-wrap:last-of-type input {
    margin: 0;
  }
  
  .main-form__textarea {
    width: calc(50% - 30px);
    max-width: 470px;
    margin: 0 30px 30px 0;
  }
  
  .main-form__textarea textarea {
    width: 100%;
    max-height: 192px;
    margin: 0;
    padding: 12px 35px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 26px;
    border: none;
  }
  
  /* Стили работы пункта согласия */
  .header-btn {
    border: none;
  }
  
  .header-btn:focus {
    outline: none;
    border: none;
  }
  
  .header-btn:active {
    outline: none;
    border: none;
  }
  
  .wpcf7-list-item {
    margin: 0 0 15px;
    cursor: pointer;
  }
  
  .wpcf7-list-item .accept {
    display: none;
  }
  
  .wpcf7-list-item .accept:checked + .wpcf7-list-item-label::after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  .wpcf7-not-valid-tip {
    padding-top: 5px;
    font-size: 14px;
  }
  
  .wpcf7-list-item-label {
    position: relative;
    padding-left: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    color: #FFFFFF;
  }
  
  .wpcf7-list-item-label a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: underline;
  }
  
  .wpcf7-list-item-label::before {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width: 13px;
    height: 13px;
    -ms-flex-item-align: start;
    align-self: flex-start;
    background-color: transparent;
    border: 1px solid #F4D8B3;
    margin-right: 10px;
  }
  
  .wpcf7-list-item-label::after {
    content: '\2714';
    position: absolute;
    width: 12px;
    height: 12px;
    top: -2px;
    left: 2px;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    font-size: 11px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    color: #F4D8B3;
  }
  
  .wpcf7-response-output {
    display: none;
  }
  
  .wpcf7 .ajax-loader {
    display: none;
  }
  
  /* Стили работы пункта согласия */
  .main-form__agree {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .main-form__agree .wpcf7-form-control-wrap {
    margin: 0 auto 15px 0;
    padding: 0 30px 0 0;
  }
  
  .main-form__agree .wpcf7-list-item {
    margin: 0;
  }
  
  .main-form__agree .main-form-submit {
    margin: 0 0 15px;
    background: #00935C !important;
    border: none;
  }
  
  /* блок формы */


  /* Главная станица */


  /* Адаптив */

  @media screen and (max-width: 1250px) {
    .header-top-row__search {
      max-width: 240px;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .header-container {
      padding: 25px 0;
    }
    .header-desctop-main__burger {
      display: block;
    }
    .header-desctop-main__burger-overflow .header-menu {
      position: relative;
      top: initial;
      right: initial;
      width: 100%;
      height: auto;
      margin: 0 0 40px;
    }
    .header-top-row__search--mobile,
    .header-bottom-row__log-in--mobile {
      display: none;
    }
    .header-top-row__address--desctop,
    .header-top-row__phone--desctop,
    .header-top-row__social--desctop,
    .header-bottom-row__log-in--desctope,
    .header-bottom-row {
      display: none;
    }
    .header-bottom-row__log-in--desctope-top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 20px 0 auto;
    }
    .header-top-row__address--mobile,
    .header-top-row__phone--mobile,
    .header-top-row__social--mobile {
      margin: 0 0 20px;
    }
    .site-content {
      margin-top: 74px;
    }
    .footer-menu--left {
      -ms-flex-negative: 0;
          flex-shrink: 0;
    }
    /* Главная страница */
    .main-services__list {
      width: calc(100% + 40px);
    }
    .main-services__item {
      width: 100%;
      max-width: calc(50% - 40px);
      margin: 0 40px 25px 0;
      padding: 32px 20px 20px;
    }
    .slick-active.slick-current .main-employees__photo-item img {
      max-width: 260px;
      max-height: 486px;
    }
    .slick-active .main-employees__photo-item img,
    .main-employees__photo-item img {
      max-width: 220px;
      max-height: 486px;
    }
    .main-employees__content-photos {
      max-width: calc(100% - 420px);
    }
    .main-rating__item {
      width: 100%;
      max-width: calc(33.33% - 48px);
    }
    /* Главная страница */
  }
  
  @media only screen and (max-width: 1100px) {
    /* Главная страница */
    .main-news__link {
      min-height: 90px;
    }
    .main-smi__list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .main-smi__item {
      max-width: calc(50% - 30px);
    }
    /* Главная страница */
  }
  
  @media only screen and (max-width: 1000px) {
    .footer-menu-block {
      display: none;
    }
    .header-top-row {
      margin: 0;
    }
    .site-content {
      margin-top: 35px;
    }
    .header-bottom-row__log-in--desctope-top {
      display: none;
    }
    .header-bottom-row__log-in--mobile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 0 30px;
    }
    .header-top-row__citys-list {
      margin: 0;
    }
    .header-top-row__search {
      margin: 0 20px;
    }
    .header-logo {
      margin: 0 auto 0 0;
    }


    /* Главная страница */


    .main-services__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .main-services__info {
      max-width: 100%;
      margin: 0 0 40px;
    }
    .slick-active .main-employees__photo-item img, .main-employees__photo-item img {
      max-width: 260px;
      max-height: 486px;
    }
    .main-video__link {
      padding: 14px 14px;
    }
    .main-video__item-title {
      margin: 0 0 5px;
      font-size: 16px;
    }
    .main-video__item-content {
      min-height: 181px;
    }
    .main-video__item-content > svg {
      max-width: 38px;
      max-height: 38px;
    }
    .main-video__item-time {
      font-size: 14px;
    }
    .main-banner__text p,
    .main-employees__text {
      font-size: 16px;
    }
    .main-news__link,
    .main-video__item-title {
      font-size: 14px;
    }

    /* Главная страница */

  }
  
  @media only screen and (max-width: 900px) {
    .footer-contacts {
      margin: 0 20px 0 0;
    }


    /* Главная страница */


    .main-banner__photos-bubble {
      bottom: -20px;
      left: -5px;
    }
    .main-banner__photos-bg {
      display: none;
    }
    .main-banner__photos {
      margin: 0 auto;
    }
    .main-banner__photos-images {
      max-width: 318px;
      max-height: 318px;
      -webkit-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.07);
              box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.07);
    }
    .main-banner__photos-text {
      font-weight: normal;
    }
    .main-banner__photos-ear {
      font-size: 25px;
    }
    .main-banner__photos-bubble {
      min-width: 129px;
      min-height: 129px;
      padding: 15px 0 0;
    }
    .main-news-analitics__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .main-news:first-of-type,
    .main-news {
      max-width: 100%;
      padding: 0;
    }
    .main-news:first-of-type {
      margin: 0 0 50px;
    }
    .main-news__link {
      min-height: 70px;
    }
    .all-title {
      font-size: 30px;
    }
    .all-button p {
      font-size: 14px;
    }
    .main-banner__link {
      font-size: 14px;
    }
    .all-button-body {
      padding: 9px 20px;
    }

    /* Главная страница */


  }
  
  @media only screen and (max-width: 800px) {
    .footer-contacts {
      max-width: 180px;
    }
    .footer-contacts--moscow {
      display: none;
    }
    .footer-container {
      padding: 28px 0;
    }


    /* Главная страница */


    .main-banner__title p {
      font-size: 37px;
    }
    .main-banner__text p, .main-employees__text {
      font-size: 14px;
    }
    .main-employees__fio {
      font-size: 27px;
    }
    .main-employees__position, .main-employees__office {
      font-size: 15px;
    }
    .main-video__item {
      width: calc(50% - 30px);
    }
    .main-video__item:last-of-type {
      display: none;
    }
    .main-form__list > span input,
    .main-form__textarea textarea {
      padding: 12px 25px;
    }
    .main-employees__content-texts {
      max-width: 315px;
    }
    .main-employees__position {
      width: 100%;
    }
    .main-employees__info {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .main-employees__content-photos {
      max-width: calc(100% - 315px);
    }

    /* Главная страница */


  }
  
  @media only screen and (max-width: 700px) {
    .header-top-row__search--desctop,
    .footer-contacts {
      display: none;
    }
    .header-top-row__search--mobile {
      display: block;
      margin: 0 0 20px;
    }


    /* Главная страница */


    .main-banner__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
    }
    .main-banner__info {
      max-width: 100%;
      margin: 30px 0 0;
    }
    .main-banner__info .header-top-row__citys-list {
      display: none;
    }
    .main-employees__content-wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .main-banner__photos {
      max-width: 300px;
    }
    .main-employees__content-texts,
    .main-employees__content-photos {
      max-width: 100%;
    }
    .main-employees__position {
      width: auto;
    }
    .main-services__text {
      font-size: 16px;
    }
    .main-services__list {
      width: calc(100% + 20px);
    }
    .main-services__item {
      max-width: calc(50% - 20px);
      margin: 0 20px 25px 0;
    }
    .main-services__item-link p {
      font-size: 17px;
    }
    .main-services__item-text {
      font-size: 14px;
    }
    .main-rating__list {
      width: calc(100% + 12px);
    }
    .main-rating__item {
      max-width: calc(33.33% - 12px);
      margin: 0 12px 24px 0;
    }
    .main-smi__link {
      font-size: 14px;
    }

    /* Главная страница */


  }
  
  @media only screen and (max-width: 600px) {
    .header-top-row__citys-list {
      width: 100%;
      max-width: 75px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .header-top-row__citys-item {
      max-width: 100%;
    }
    .header-top-row__citys-link {
      margin: 0 0 6px;
      padding: 0;
      border: none;
    }
    .header-top-row__citys-item:last-of-type .header-top-row__citys-link {
      margin: 0;
    }
    .header-top-row__citys-link:hover {
      border-bottom: none;
    }
    .header-desctop-main__burger-content {
      width: 300px;
    }
    .header-menu .menu-item {
      margin: 0 0 14px 0;
    }


    /* Главная страница */


    .main-video__header {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .main-video__item {
      width: calc(100% - 30px);
    }
    .main-services__item {
      max-width: calc(100% - 20px);
    }
    .main-services__item-link svg {
      stroke: #00935C;
    }
    .main-form__inputs-wrap {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .main-form__list,
    .main-form__textarea {
      width: calc(100% - 30px);
      max-width: 100%;
    }
    .main-form__textarea > span {
      width: 100%;
    }

    /* Главная страница */

  }
  
  @media only screen and (max-width: 500px) {
    .container {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }


    /* Главная страница */


    .main-smi__item {
      max-width: calc(100% - 30px);
    }
    .main-rating__item {
      max-width: calc(50% - 12px);
    }

    /* Главная страница */


  }
  
  @media only screen and (max-width: 400px) {
    .logo-column {
      margin: 0;
    }
    .header-logo {
      width: 100%;
      max-width: 150px;
    }
    .header-desctop-main__burger {
      max-width: 32px;
      margin: 0 0 0 15px;
    }
    .all-title {
      font-size: 25px;
    }
    .footer-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .footer .header-top-row__social-list {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0 0 20px;
    }
    .footer-bottom__link-policy,
    .developed-block p,
    .developed-block a {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center;
    }


    /* Главная страница */


    .container {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
    .main-news__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .main-news__image {
      max-width: 100%;
      margin: 0 0 15px 0;
    }
    .main-employees__position {
      width: 100%;
    }

    /* Главная страница */


  }

/* Адаптив */


/* #wpadminbar {
    display: none;
} */









